* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-family: sans-serif;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

section {
  padding: 1rem;
  height: 100vh;
  scroll-snap-align: start;
  text-align: center;
  position: relative;
}

.header {
  height: 100vh;
  background-image: url(/pics/hero.jpg);
  background-size: cover;
  background-position: bottom;
  scroll-snap-align: start;
}

h1 {
  margin-top: 10%;
  position: absolute;
  top: 10%;
  transform: translateY(-50%);
  text-align: left;
  color: rgba(45, 81, 95, 0.876);
  width: 100%;
  left: 5%;
  font-size: calc(1rem + 3vw);
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
}

.section1 {
  background-color: rgba(194, 111, 150, 0.507);
}

.section2 {
  background-color: hsla(48, 100%, 73%, 0.746);
}
.section3 {
  background-color: rgba(243, 195, 190, 0.822);
}

.section4 {
  background-color: hsla(0, 0%, 87%, 0.685);
  display: flex;
  flex-direction: column;
}

.section4h2 {
  color: #5d5fe0;
}
#headingGroup h1 {
  font-weight: 100;
  font-size: 4rem;
}
